@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,900");
@import 'normalize';
@import 'loader';
@import 'typed';

/* my style here */

body {
    background: #2c3e50;
    font-family: "Roboto", helvetica;
}

main {
    display: none;
}

.section{
    .wrapper {
        max-width:960px;
        margin: 0 auto;
    }   
}

#header {
    background: #EB3349; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: left;
    width:100vw;
    height:100vh;
    transition:height 999999999s;
    display:flex;
    flex-direction:column;
    justify-content:center;

    h1{
        font-size: 5em;   
        font-weight: 900;
        color: #fff;
        margin:0;
    }
    h2 {
        font-size:2em;
        font-family: "Roboto", helvetica;
        font-weight: 100;
        color: #fff;
        text-align: left;
    }    
}

#works {
    
    .wrapper {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items:flex-end;
        justify-content: flex-start;
        .project {
            width:30.333%;
            margin: 1.5% 1.5%;
            height:350px;
            background:rgba(0,0,0,0.1);
            img {
                width:100%;
            }
            .description {
                // background:rgba(0,0,0,0.3);
                padding: 10px;  
            }
            .desc {
                margin-bottom:10px;
                color:#bfbfbf;
            }
            .tech {
                color:#999;
            }
        }
        h2 {
            width:100%;
            text-align:center;
        }
    }
}



#about {
    background: #EB3349; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


h2 {
    font-size:3em;
    font-family: "Roboto", helvetica;
    font-weight: 600;
    color: #fff;
    text-align: left;
}
h3 {
    font-size:1.1em;
    font-family: "Roboto", helvetica;
    font-weight: 500;
    margin:0;
    // margin:0;
    // width:100%;
    text-align: left;
    color:#fff;
}
.section2 h3 {
    text-align: center;
} 

p {
    font-family: "Roboto", helvetica;
    font-weight: 100;
    font-size: 1.1em;
    line-height:1.457;
    color: #fff;
    text-align: left;
}

#slide12 h3 {
/*    width:80%;*/
    text-align: left;
}
.intro p {
    color: #fff;
    width:100%;    
}

/* Centered texts in each section
* --------------------------------------- */











.fa {
    color:#EB3349;
    margin-top: 5px 3px 0 3px;
}
h3 span {
    color:#EB3349;
}

#credit {
    font-family: helvetica;
    // position:absolute;
    // bottom:25px;
    margin: 0 auto;   
    color:white;    
    z-index:1;
    font-size: 0.8em;
}

#credit p {
    text-align: center;
}

p a {
    color:#EB3349;
}

.story h3 {
    font-size: 2.8em;   
    text-align:left;
    width:80%;
    margin: 2% auto;

}

.story img {
    width:45%;
    border-radius:5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.hidden {
    display:none;
}
.story strong{
    cursor: pointer;
}
.slides {
    display:none;
}

figcaption {
    color:#fff;
    font-size: .8em;
    margin-top: 5px;
}

figure {
    margin:0;
    padding:0;
}

#storySlide8 img {
    width:40%;
    box-shadow:none;
}

canvas {  
    display:block;
    vertical-align:center;
    height:100%;
}


@media screen and (max-device-width: 769px) {
    .project {
        width:80%;
    }
    .project h3{
        font-size: 2.8em;
    }
    .description p {
        font-size: 1.8em;
    }

    .story img {
    width:80%;
    }
   

}