@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,900");
@import 'normalize';
@import 'breakpoints';
@import 'loader';
// @import 'typed';

/* my style here */

html,body {
    // background:#2c3e50;
    background:#111;
    font-family: "Roboto", helvetica;
    color:#999;
}
// canvas#video-screen {
//     width:100vw;
//     height:100vh;
//     position: sticky;
//     top:0;
//     z-index:-1;
// }

.wrapper {
    // max-width:960px;
    // margin: 0 auto;
    // padding: 0 10px 0 10px;
} 
.hide {
    opacity:0;
}
.show {
    opacity:1 !important;
    position:absolute !important;
}
#contact {
    margin: 10px 0 10px 0;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh; /* Fallback */
    height: calc(var(--vh, 1vh) * 100);
    z-index:10;
    pointer-events: none;
    // overflow: hidden;
    #names {
        position: absolute;
        top:5px;
        left:10px;
    }
    #nav {
        position: absolute;
        top:5px;
        right:10px;
    }
    #contact {
        position: absolute;
        bottom:10px;
        left:10px;
        pointer-events: all;
    }
} 
#intro {
    z-index:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}     
#handlebar {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    flex-direction:column;
    height: 100vh; /* Fallback */
    height: calc(var(--vh, 1vh) * 100);
    .project {
        width:100vw;
        height:80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222;
        padding-right:20vw;
        @include breakpoints ("tablet") {
            flex-direction: column;
            height:80vh;
            // align-items: baseline;
        }
        @include breakpoints ("mobile") {
            height:75vh;
        }
        .photo-wrapper {
            padding: 10px;
            text-align: center;
            img {
                height: 80vh;
                margin:0;
                vertical-align: bottom;
                position:relative;
                transition: all 0.3s ease-in-out; 
                @include breakpoints ("tablet") {
                    width:80vw;
                    height:auto;
                }
                @include breakpoints ("mobile") {
                    width:100vw;
                    
                }
            }
        }
        .description {
            width:40vw;
            padding: 10px;
            color:#999;
            font-weight: 100;
            @include breakpoints ("tablet") {
                width:95vw;
                margin: 0 2.5vw;
            }
            h3 {
                text-transform: uppercase;
                font-size: 3em;
                @include breakpoints ("tablet") {
                    font-size: 1.5em;
                    text-align: center;
                }
            }
            a {
                text-decoration:none;
            } 
            p.award{
                font-size: 1em;

            } 
        }
        
        .tech {
            color:#999;
        }
    }
    .project:last-child {
        padding-right:0;
    }
    h2 {
        width:100%;
        text-align:left;
    }
}

h2 {
    font-size:1.2em;
    font-family: "Roboto", helvetica;
    font-weight: 400;
    text-align: left;
    margin: 10px 0;
}
h3 {
    font-size:1.15em;
    font-family: "Roboto", helvetica;
    font-weight: 300;
    margin:0;
    text-align: left;
    color:#999;
}
p {
    font-family: "Roboto", helvetica;
    font-weight: 100;
    font-size: 1.1em;
    line-height:1.457;
    text-align: left;
}
.fa {
    color:#EB3349;
    margin-top: 5px 3px 0 3px;
}
#credit {
    font-family: helvetica;
    margin-bottom:1em; 
    color:white;    
    z-index:1;
    font-size: 1em;
    p {
        text-align: center;
    }
}
.social {
    text-align:center;
}