.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#typed, .typed-cursor {
    font-size:1.1em;
    font-family: "Roboto", helvetica;
    font-weight: 100;
    margin:0 auto;
    line-height:1.42;
    color:#999;
    @include breakpoints ('mobile') {
        font-size:1.3em;
    }
}
#header {
    strong {
        // color:#3349eb;
        color:#EB3349;
        font-weight:600;
    }
    .install {
        font-size:12px;
        line-height:1.2;
    }
}